@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Lemon&display=swap');

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.full-height {
    transition: 1s;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    flex-direction: column;
}

.howwasyourdaybackground{
    background-color: #E9ECEF;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
}

.howwasyourday{
    text-align: center;
    font-size: x-large;
    color: black;
}

.myline{
    height: 2px;
}

.selectioncontainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.fadeout{
    display: none;
    transition: 2s;
}

.happyseletiont{
    transition: 1s;
}

.mehselectiont{
    transition: 1s;
}

.sadselectiont{
    transition: 1s;
}

.skipselectiont{
    transition: 1s;
}

.seeglobalresultsdisplay{
    transition-delay: .8s;
    transition-duration: .8s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
}
